In [ ]:
from fastai.text import * 
from fastai import *

In [ ]:
path = Path('data/wikitext-103')

Check if a line is a title of a wikipedia article or not.

In [ ]:
def istitle(line):
    return len(re.findall(r'^ = [^=]* = $', line)) != 0

Replace `<unk>` by UNK

In [ ]:
def process_unk(s):
    return UNK if s == '<unk>' else s

Read the WT103 tokens file while separating each article from the next.

In [ ]:
def read_file(filename):
    articles = []
    with open(filename, encoding='utf8') as f:
        lines = f.readlines()
    current_article = ''
    for i,line in enumerate(lines):
        current_article += line
        if i < len(lines)-2 and lines[i+1] == ' \n' and istitle(lines[i+2]):
            articles.append(current_article)
            current_article = ''
    articles.append(current_article)
    return np.array(articles)

Read the token files (download from [here](https://s3.amazonaws.com/research.metamind.io/wikitext/wikitext-103-v1.zip)).

In [ ]:
train = read_file(path/'wiki.train.tokens')
valid = read_file(path/'wiki.valid.tokens')
test =  read_file(path/'wiki.test.tokens')

In [ ]:
len(train), len(valid), len(test)

(28476, 60, 60)

We don't care about a separate test set, so let's join it with the training set. We put valid at the beginning because we'll use `valid_idx` to split.

In [ ]:
all_texts = np.concatenate([valid, train,test])
df = pd.DataFrame({'texts':all_texts})
df.head()

                                               texts
0   \n = Homarus gammarus = \n \n Homarus gammaru...
1   \n = Frank Headlam = \n \n Air Vice Marshal F...
2   \n = M @-@ 82 ( Michigan highway ) = \n \n M ...
3   \n = Shikamaru Nara = \n \n Shikamaru Nara ( ...
4   \n = Meridian , Mississippi = \n \n Meridian ...

In [ ]:
df.head()

                                               texts
0   \n = Homarus gammarus = \n \n Homarus gammaru...
1   \n = Frank Headlam = \n \n Air Vice Marshal F...
2   \n = M @-@ 82 ( Michigan highway ) = \n \n M ...
3   \n = Shikamaru Nara = \n \n Shikamaru Nara ( ...
4   \n = Meridian , Mississippi = \n \n Meridian ...

To release this from the RAM otherwise I can't launch the next.

In [ ]:
del train
del valid
del test

In [ ]:
data = (TextList.from_df(df, path, col='texts')
                .split_by_idx(range(0,60))
                .label_for_lm()
                .databunch())
data.save()

In [ ]:
data = TextLMDataBunch.load(path, bs=80, max_len=15)
data.show_batch()

In [ ]:
learn = language_model_learner(data, drop_mult=0., emb_sz=400, nh=1550, nl=4, qrnn=True, clip=0.12)
learn.fit_one_cycle(10,5e-3, moms=(0.8,0.7))

Total time: 9:43:10
epoch  train_loss  valid_loss  accuracy
1      3.602833    3.678258    0.364872  (58:25)
2      3.434083    3.567276    0.372652  (58:14)
3      3.366802    3.570619    0.370870  (58:14)
4      3.326156    3.490306    0.377881  (58:17)
5      3.281730    3.422437    0.384634  (58:24)
6      3.191068    3.323976    0.395586  (58:25)
7      3.167345    3.250199    0.403636  (58:20)
8      3.120194    3.168631    0.414734  (58:14)
9      3.085371    3.104784    0.424635  (58:25)
10     3.022416    3.087641    0.427123  (58:09)

In [ ]:
learn.save('qrnn_maj')

In [ ]:
learn = language_model_learner(data, drop_mult=0.1, clip=0.12)

In [ ]:
learn.load('lstm_maj');

In [ ]:
from fastai.callbacks.tracker import SaveModelCallback

In [ ]:
cb = SaveModelCallback(learn)

In [ ]:
learn.fit_one_cycle(5,1e-3, moms=(0.8,0.7), callbacks=[cb], pct_start=0.1)

Total time: 4:50:51
epoch  train_loss  valid_loss  accuracy
1      3.132123    3.166337    0.415251  (58:10)
2      3.090379    3.134404    0.419966  (58:14)
3      3.021402    3.108257    0.423943  (58:11)
4      3.008096    3.088369    0.427395  (58:20)
5      2.961441    3.072581    0.429707  (57:54)

In [ ]:
learn.save('qrnn_maj1')

In [ ]:
learn.validate(learn.data.valid_dl)

[3.062496, tensor(0.4311)]